<div class="member-container">
  <div class='row'>
    <div class='col-md-12'>
      <div class="card">
        <div class="card-header">
          Members
        </div>
        <div class="card-body" *ngIf="members$ | async as members">
          <div class="list-group">
            <div class="list-group-item" *ngFor="let member of members; let i = index;">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="card-title">{{member.fullName}} #{{member.memberId}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Books Signed Out: {{member.bookSignedOuts.length}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
